body {
  width: 400px;
  height: 600px;
}
#line1{
  display: flex;
  justify-content: center;
  justify-self: stretch;
}
#line2 {
  display: flex;
  justify-content: center;
  justify-self: stretch;
}
#line3 {
  display: flex;
  justify-content: center;
  justify-self: stretch;
}
#line4 {
  display: flex;
  justify-content: center;
  justify-self: stretch;
}
#line5 {
  display: flex;
  justify-content: center;
  justify-self: stretch;
}
#num--0 {
  color: black;
  background-color: #d8d9db;
  border: 1px solid black;
  border-radius: 0px;
  flex-basis: 75%;
  height: 102px;
  font-size: 45px;
}
#clear {
  color: black;
  background-color: #d8d9db;
  border: 1px solid black;
  border-radius: 0px;
  flex-basis: 50%;
  height: 102px;
  font-size: 45px;
}
#delete {
  color: black;
  background-color: #d8d9db;
  border: 1px solid black;
  border-radius: 0px;
  flex-basis: 25%;
  height: 102px;
  font-size: 45px;
}
#output {
  background-color: black;
  display: flex;
  width: 400px;
  height: 90px;
  color: white;
  justify-content: end;
  align-items: center;
  font-size: 45px;
  margin-right: 5px;
}
#divide, #X, #subtract, #add, #equal {
  color: white;
  background-color: #df974c;
  border: 1px solid black;
  border-radius: 0px;
  flex-basis: 25%;
  height: 102px;
  font-size: 50px;
}
#num--1, #num--2, #num--3, #num--4, #num--5, #num--6, #num--7, #num--8, #num--9 {
  color: black;
  background-color: #d8d9db;
  border: 1px solid black;
  border-radius: 0px;
  flex-grow: 1;
  height: 102px;
  font-size: 45px;
}
#num--1:hover, #num--2:hover, #num--3:hover, #num--4:hover, #num--5:hover, #num--6:hover, #num--7:hover, #num--8:hover, #num--9:hover, #clear:hover, #delete:hover, #num--0:hover {
background-color: #ebebeb;
}
#divide:hover, #X:hover, #subtract:hover, #add:hover, #equal:hover {
  background-color: #dfb07e;
}
